{% extends "patient/patient_base.html" %}

{% block title %}
My Prescriptions
{% endblock %}

{% block page_title %}
My Prescriptions
{% endblock %}

{% block dashboard_content %}
<div class="dashboard-header">
    <h2>My Prescriptions</h2>
    <p>View all prescriptions uploaded by your doctors.</p>
</div>

<div class="dashboard-section">

    {% if prescriptions %}

    <table class="recent-table">

        <thead>

            <tr>
                <th>Date</th>
                <th>Doctor</th>
                <th>Medicines</th>
                <th>Dosage</th>
                <th>Instructions</th>
                <th width="130">Download</th>
            </tr>

        </thead>

        <tbody>

        {% for prescription in prescriptions %}

            <tr>

                <td>
                    {{ prescription.appointment.appointment_date.strftime("%d %b %Y") }}
                </td>

                <td>
                    Dr. {{ prescription.appointment.doctor.user.name }}
                </td>

                <td>
                    <strong>Medicines</strong><br>
                    {{ prescription.medicines }}
                </td>

                <td>
                    <strong>Dosage</strong><br>
                    {{ prescription.dosage }}
                </td>

                <td>
                    <strong>Instructions</strong><br>
                    {{ prescription.instructions }}
                </td>

                <td>

                    <a
                        href="{{ url_for('patient.download_prescription', id=prescription.id) }}"
                        class="action-btn"
                        target="_blank"
                    >
                        <i class="fa-solid fa-download"></i>
                        PDF
                    </a>

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

    {% else %}

        <div class="empty-state">

            <i class="fa-solid fa-prescription-bottle-medical"></i>

            <h4>No Prescriptions</h4>

            <p>Your prescriptions will appear here after your doctor uploads them.</p>

        </div>

    {% endif %}

</div>

{% endblock %}