{% extends "dashboard_base.html" %}

{% block sidebar %}

<li>
    <a href="{{ url_for('admin.dashboard') }}">
        <i class="fa-solid fa-house"></i>
        Dashboard
    </a>
</li>

<li>
    <a href="{{ url_for('admin.users') }}">
        <i class="fa-solid fa-users"></i>
        Users
    </a>
</li>

<li>
    <a href="#">
        <i class="fa-solid fa-user-doctor"></i>
        Doctors
    </a>
</li>

<li>
    <a href="#">
        <i class="fa-solid fa-hospital"></i>
        Hospitals
    </a>
</li>

<li>
    <a href="{{ url_for('admin.appointments') }}">
        <i class="fa-solid fa-calendar-check"></i>
        Appointments
    </a>
</li>

<li>
    <a href="{{ url_for('auth.logout') }}">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
    </a>
</li>

{% endblock %}