{% extends "doctor/doctor_base.html" %}

{% block title %}
Doctor Appointments
{% endblock %}

{% block page_title %}
Doctor Appointments
{% endblock %}

{% block dashboard_content %}

<div class="dashboard-header">

    <h2>Appointment Requests</h2>

    <p>Manage all appointment requests assigned to you.</p>

</div>
<form method="GET" class="filter-form">

    <input
        type="text"
        name="search"
        placeholder="Search patient..."
        value="{{ search }}"
    >

    <select name="status">

        <option value="">All Status</option>

        <option value="Pending"
            {% if status=="Pending" %}selected{% endif %}>
            Pending
        </option>

        <option value="Accepted"
            {% if status=="Accepted" %}selected{% endif %}>
            Accepted
        </option>

        <option value="Completed"
            {% if status=="Completed" %}selected{% endif %}>
            Completed
        </option>

        <option value="Rejected"
            {% if status=="Rejected" %}selected{% endif %}>
            Rejected
        </option>

    </select>

    <button class="action-btn">

        <i class="fa-solid fa-magnifying-glass"></i>

        Search

    </button>

</form>


<div class="dashboard-section">

{% if appointments.items %}

<table class="recent-table">

<thead>

<tr>
<th>Patient</th>
<th>Date</th>
<th>Time</th>
<th>Status</th>
<th width="320">Actions</th>
</tr>

</thead>

<tbody>

{% for appointment in appointments.items %}

<tr>

<td>

<a href="{{ url_for('doctor.patient_history',
patient_id=appointment.patient.id) }}">

{{ appointment.patient.user.name }}

</a>

</td>
<td>{{ appointment.appointment_date.strftime("%d %b %Y") }}</td>

<td>{{ appointment.appointment_time.strftime("%I:%M %p") }}</td>

<td>

{% if appointment.status=="Pending" %}

<span class="status pending">
    {{ appointment.status }}
</span>

{% elif appointment.status=="Accepted" %}

<span class="status accepted">
    {{ appointment.status }}
</span>

{% elif appointment.status=="Rejected" %}

<span class="status rejected">
    {{ appointment.status }}
</span>

{% else %}

<span class="status completed">
    {{ appointment.status }}
</span>

{% endif %}

</td>

<td>
<div class="action-buttons">
{% if appointment.status=="Pending" %}

<a href="{{ url_for('doctor.accept_appointment', appointment_id=appointment.id) }}"
class="action-btn">

Accept

</a>

<a href="{{ url_for('doctor.reject_appointment', appointment_id=appointment.id) }}"
class="delete-btn">

Reject

</a>

{% endif %}

<a href="{{ url_for('doctor.consultation', id=appointment.id) }}"
   class="action-btn">
    <i class="fa-solid fa-notes-medical"></i>
    Notes
</a>

<a href="{{ url_for('doctor.prescription', appointment_id=appointment.id) }}"
   class="action-btn">
    <i class="fa-solid fa-prescription"></i>
    Prescription
</a>
{% if appointment.status == "Accepted" %}

<a href="{{ url_for('doctor.complete_appointment',
appointment_id=appointment.id) }}"
class="action-btn">

    <i class="fa-solid fa-circle-check"></i>

    Complete

</a>

{% endif %}

</div>
</td>

</tr>

{% endfor %}

</tbody>

</table>

<div class="pagination">

    {% if appointments.has_prev %}
        <a href="{{ url_for('doctor.appointments',
            page=appointments.prev_num,
            search=search,
            status=status) }}">
            Previous
        </a>
    {% endif %}

    <span>

        Page {{ appointments.page }}
        of {{ appointments.pages }}

    </span>

    {% if appointments.has_next %}
        <a href="{{ url_for('doctor.appointments',
            page=appointments.next_num,
            search=search,
            status=status) }}">
            Next
        </a>
    {% endif %}

</div>

{% else %}

<div class="empty-state">

    <i class="fa-solid fa-calendar-xmark"></i>

    <h4>No Appointments</h4>

    <p>No appointment requests available.</p>

</div>
{% endif %}

</div>

{% endblock %}