{% extends "doctor/doctor_base.html" %}

{% block title %}
Consultation Notes
{% endblock %}

{% block page_title %}
Consultation Notes
{% endblock %}

{% block dashboard_content %}

<div class="dashboard-header">
    <h2>Consultation</h2>
    <p>Record the patient's consultation details.</p>
</div>

<div class="dashboard-section">

<form method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<label>Patient</label>

<input
type="text"
value="{{ appointment.patient.user.name }}"
class="form-control"
disabled>

<br>

<label>Appointment Status</label>

<input
type="text"
value="{{ appointment.status }}"
class="form-control"
disabled>

<br>

<div class="form-group">

<label>Symptoms</label>

<textarea
name="symptoms"
class="form-control">{{ appointment.symptoms or "" }}</textarea>

</div>

<div class="form-group">

<label>Vitals</label>

<textarea
name="vitals"
class="form-control">{{ appointment.vitals or "" }}</textarea>

</div>

<div class="form-group">

<label>Diagnosis</label>

<textarea
name="diagnosis"
class="form-control">{{ appointment.diagnosis or "" }}</textarea>

</div>

<div class="form-group">

<label>Consultation Notes</label>

<textarea
name="notes"
rows="6"
class="form-control">{{ appointment.consultation_notes or "" }}</textarea>

</div>

<div class="form-group">

<label>Follow-up Date</label>

<input
type="date"
name="follow_up_date"
class="form-control"
value="{{ appointment.follow_up_date.strftime('%Y-%m-%d') if appointment.follow_up_date else '' }}">

</div>

<button
type="submit"
class="action-btn">

<i class="fa-solid fa-floppy-disk"></i>

Save Consultation

</button>

</form>

</div>

{% endblock %}