{% extends "dashboard_base.html" %}

{% block sidebar %}

<li>
    <a href="{{ url_for('doctor.dashboard') }}">
        <i class="fa-solid fa-house"></i>
        Dashboard
    </a>
</li>

<li>
    <a href="{{ url_for('doctor.profile') }}">
        <i class="fa-solid fa-user"></i>
        My Profile
    </a>
</li>

<li>
    <a href="{{ url_for('doctor.appointments') }}">
        <i class="fa-solid fa-calendar-check"></i>
        Appointments
    </a>
</li>

<li>
    <a href="{{ url_for('doctor.schedule') }}">
        <i class="fa-solid fa-calendar-days"></i>
        My Schedule
    </a>
</li>

<li>
    <a href="#">
        <i class="fa-solid fa-notes-medical"></i>
        Consultation Notes
    </a>
</li>

<li>
    <a href="{{ url_for('auth.logout') }}">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
    </a>
</li>

{% endblock %}