{% extends "doctor/doctor_base.html" %}

{% block title %}
Doctor Schedule
{% endblock %}

{% block page_title %}
My Schedule
{% endblock %}

{% block dashboard_content %}

<div class="dashboard-header">
    <h2>Manage Schedule</h2>
    <p>Set your weekly availability for appointments.</p>
</div>

<div class="dashboard-section">

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.day.label }}
            {{ form.day(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.start_time.label }}
            {{ form.start_time(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.end_time.label }}
            {{ form.end_time(class="form-control") }}
        </div>

        <div class="form-group">

            {{ form.is_available() }}

            {{ form.is_available.label }}

        </div>

        {{ form.submit(class="action-btn") }}

    </form>

</div>

<div class="dashboard-section">

    <h2>Weekly Schedule</h2>

    {% if schedules %}

    <table class="recent-table">

        <thead>

            <tr>

                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
                <th>Actions</th>

            </tr>

        </thead>

        <tbody>

        {% for schedule in schedules %}

            <tr>

                <td>{{ schedule.day }}</td>

                <td>
                    {{ schedule.start_time.strftime("%I:%M %p") }}
                </td>

                <td>
                    {{ schedule.end_time.strftime("%I:%M %p") }}
                </td>

                <td>

                    {% if schedule.is_available %}

                    <span class="status accepted">

                        Available

                    </span>

                    {% else %}

                    <span class="status rejected">

                        Off

                    </span>

                    {% endif %}

                </td>

                <td>

                    <a
                    href="{{ url_for('doctor.edit_schedule', id=schedule.id) }}"
                    class="action-btn">

                        Edit

                    </a>

                    <a
                    href="{{ url_for('doctor.delete_schedule', id=schedule.id) }}"
                    class="delete-btn"
                    onclick="return confirm('Delete this schedule?')">

                        Delete

                    </a>

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

    {% else %}

    <div class="empty-state">

        <i class="fa-solid fa-calendar-week"></i>

        <h4>No Schedule Added</h4>

        <p>
            Add your weekly availability so patients can book appointments.
        </p>

    </div>

    {% endif %}

</div>

{% endblock %}