<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Dashboard{% endblock %}
    </title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/dashboard.css') }}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body class="{{ 'dark-mode' if session.get('theme', 'light') == 'dark' else '' }}">

    <div class="dashboard">

        <!-- Sidebar -->

        <aside class="sidebar">

            <div class="logo">

                <i class="fa-solid fa-hospital"></i>

                <h2>MediLink</h2>

            </div>

            <ul>

                {% block sidebar %}
                {% endblock %}

            </ul>

        </aside>

        <!-- Main Content -->

        <main class="main-content">

            <!-- Topbar -->

            <header class="topbar">

                <h2>

                    {% block page_title %}
                    Dashboard
                    {% endblock %}

                </h2>

                <div class="profile">

                    <button id="theme-toggle" class="theme-btn">

                        <i class="fa-solid fa-moon"></i>

                    </button>

                    <i class="fa-solid fa-bell"></i>

                    <span>

                        {{ current_user.name }}

                    </span>

                </div>

            </header>

            <section class="content">

                {% block dashboard_content %}
                {% endblock %}

            </section>

        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        const button = document.getElementById("theme-toggle");

        const body = document.body;

        if (localStorage.getItem("theme") === "dark") {

            body.classList.add("dark-mode");

            button.innerHTML =
                '<i class="fa-solid fa-sun"></i>';

        }

        button.addEventListener("click", function () {

            body.classList.toggle("dark-mode");

            if (body.classList.contains("dark-mode")) {

                localStorage.setItem("theme", "dark");

                button.innerHTML =
                    '<i class="fa-solid fa-sun"></i>';

            }

            else {

                localStorage.setItem("theme", "light");

                button.innerHTML =
                    '<i class="fa-solid fa-moon"></i>';

            }

        });

    </script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>

</body>

</html>