<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Dashboard{% endblock %}
    </title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/dashboard.css') }}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

    <div class="dashboard">

        <!-- Sidebar -->

        <aside class="sidebar">

            <div class="logo">

                <i class="fa-solid fa-hospital"></i>

                <h2>MediLink</h2>

            </div>

            <ul>

                {% block sidebar %}

                {% endblock %}

            </ul>

        </aside>

        <!-- Main Content -->

        <main class="main-content">

            <!-- Topbar -->

            <header class="topbar">

                <h2>
                    {% block page_title %}
                    Dashboard
                    {% endblock %}
                </h2>

                <div class="profile">

                    <i class="fa-solid fa-bell"></i>

                    <span>
                        {{ current_user.name }}
                    </span>

                </div>

            </header>

            <section class="content">

                {% block dashboard_content %}

                {% endblock %}

            </section>

        </main>

    </div>

</body>

</html>